node_red_flow.json
[
    {
        "id": "cfbdd06f01f246da",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57e4d43819a0bf59",
        "type": "mqtt in",
        "z": "cfbdd06f01f246da",
        "name": "",
        "topic": "iot/Filling",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "12fb174ac06c0a4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "0574daec2d138691",
                "a244ba675f469510",
                "4099de3b84c5c1b0"
            ]
        ]
    },
    {
        "id": "0574daec2d138691",
        "type": "debug",
        "z": "cfbdd06f01f246da",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "a244ba675f469510",
        "type": "ui_text",
        "z": "cfbdd06f01f246da",
        "group": "4931d79b14c57829",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Text",
        "label": "",
        "format": "",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "15",
        "color": "#000000",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "4099de3b84c5c1b0",
        "type": "ui_gauge",
        "z": "cfbdd06f01f246da",
        "name": "Gauge",
        "group": "4931d79b14c57829",
        "order": 1,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": "25",
        "max": "0",
        "colors": [
            "#22ec30",
            "#e6e600",
            "#c93838"
        ],
        "seg1": "19",
        "seg2": "10",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "12fb174ac06c0a4d",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4931d79b14c57829",
        "type": "ui_group",
        "name": "Bin Level",
        "tab": "fba5ab230e44ad6e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fba5ab230e44ad6e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": "1",
        "disabled": false,
        "hidden": false
    }
]
